.DS_Store
build/
dist/
icloudds.egg-info
cron_script.sh
Drive/
.vscode
__pycache__
.pytest_cache
.cache
*.pyc
.idea
.coverage
.coverage.*
htmlcov
icloudds-latest-py2.py3-none-any.whl
.venv
venv
testing/
