#!/bin/bash
# Make sure it's not already running
pgrep -f icloudds && echo "icloudds is already running." && exit

icloudds --directory /your/iCloud/directory \
  --username testuser@example.com \
  --password pass1234 \
  --sync
